/*
|------------------------------------------------------------
| All styles for blog posts etc.
|------------------------------------------------------------
*/

.pagination {
    text-align: center;
    position: relative;
    max-width: 300px;
    margin: 20px auto;

    .prev,
    .next {
        font-size: 3rem;
        position: absolute;
        top: 5px;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    a {
        text-decoration: none;
        margin: 0 10px;
        line-height: 40px;
    }

    span {
        border-radius: 50%;
        width: 30px;
        line-height: 30px;
        height: 30px;
        display: inline-block;
        margin: 0 10px;

        &.current {
            background-color: $color_1;
            color: #FFF;
        }
    }
}

.home .post-container {
    max-width: 850px;
}

.post-container {
    max-width: 600px;
    margin: 10px auto;
    min-height: 200px;
    position: relative;

    &.news {

    .featured-image {
        background-repeat: no-repeat;
        height: 200px;
        width: 150px;
        background-size: cover;
        background-position: center center;
        margin-right: 20px;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: -15px;
        width: 100%;
        height: 1px;
        background-color: rgba(255, 255, 255, .5);
    }
}
}

.blog-post-content {
    font-size: 1.4rem;
}

/*
|------------------------------------------------------------
| Single blog post
|------------------------------------------------------------
*/

.featured-image-single {
    width: 100%;
    text-align: right;

    img {
        max-width: 400px;
        height: auto;
    }
}

.single-post-content {
    max-width: 800px;
    position: relative;

    .btn {
        top: 30px;
        left:0;
    }
}

.single-post-content .featured-image-single + h2 {
    padding-top: 0px;
}

@media (max-width: 625px) {
    .posts-container {
        padding: 0 10px;

        .blog-post-content.post-container.flex {
            flex-direction: column;

            .link-picture-wrapper {
                margin: 0 auto;
            }
        }
    }
}

@media (max-width: 830px) {
    .single-post-container {
        padding: 0 10px;
    }
}