/*
|------------------------------------------------------------
| All form styles.
|------------------------------------------------------------
*/

form {
    padding: 10px;
    max-width: 500px;
    color: #FFF;

    textarea {
        display: block;
    }
}

.form-group {
    width: 100%;
    margin: 5px 0;

    input {
        width: 100%;
        margin: 4px 0;
    }
}

.main-content-container.register .form-group {
    margin: 0 0 20px 0;
}