/*
|------------------------------------------------------------
| All form styles.
|------------------------------------------------------------
*/

form {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}

.form-group {
    width: 100%;

    input {
        width: 100%;
        margin: 4px 0;
    }
}