/*
|------------------------------------------------------------
| All form styles.
|------------------------------------------------------------
*/

form {
    padding: 10px;
    max-width: 500px;
    color: #FFF;

    textarea {
        display: block;
    }
}

.form-group {
    width: 100%;
    margin: 5px 0;

    input {
        width: 100%;
        margin: 4px 0;
    }
}

.main-content-container.register .form-group {
    margin: 0 0 20px 0;
}

.main-content-container form {
    padding: 0;
}

.single .main-content-container form {
    overflow: hidden;
}

input {
    outline: 0;
    height: 25px;
    width: 100%;
    border-radius: 3px;
    padding: 0 5px 0 5px;
    border: 0;
}

textarea {
    outline: 0;
    width: 100%;
    border-radius: 3px;
    padding: 0 5px 0 5px;
    border: 0;
}

button + a {
    margin-top: 8px;
    display: inline-block;
}