/*
|------------------------------------------------------------
| All styles for things on homepage
|------------------------------------------------------------
*/

.forgotpassword-login {
    line-height: 35px;
    color: #FFF;
    text-decoration: none;
}

.technologies-container {
    h2 {
        margin-top: 0 !important;
    }
}