/*
|------------------------------------------------------------
| Sidebar styles
|------------------------------------------------------------
*/

.sidebar {
    position: relative;

    &:before {
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: rgba(0, 0, 0, .4);
        content: '';
        top: 53%;
        left: -20px;
        transform: translateY(-50%);
    }
}

@media (max-width: 768px) {
    .sidebar {
    position: relative;

    &:before {
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: rgba(0, 0, 0, .4);
        content: '';
        top: -10px;
        left: 50%;
        transform: translateX(-50%);
    }
}
}