/* ==================================================================================
ALL CSS FOR ANIMATIONS
================================================================================== */

.full-opacity {
    animation: fullOpacity 500ms;
}

@keyframes fullOpacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.no-opacity {
    animation: noOpacity 500ms;
}

@keyframes noOpacity {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.from-top {
    animation: fromTop 500ms;
}

@keyframes fromTop {
    0% {
        transform: translateY(-1000px);
    }

    100% {
        transform: translateY(0);
    }
}

.from-left {
    animation: fromLeft 500ms ease-in-out;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0);
    }
}

.from-right {
    animation: fromRight 500ms ease-in-out;
}

@keyframes fromRight {
    0% {
        transform: translateX(500px);
    }

    100% {
        transform: translateX(0);
    }
}

.from-bottom {
    animation: fromBottom 500ms ease-in-out;
}

@keyframes fromBottom {
    0% {
        transform: translateY(500px);
    }

    100% {
        transform: translateY(0);
    }
}

.move-up {
    animation: moveUp 500ms ease-in-out;
}

@keyframes moveUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-500px);
    }
}

.move-right {
    animation: moveRight 500ms ease-in-out;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(500px);
    }
}

.move-down {
    animation: moveDown 500ms ease-in-out;
}

@keyframes moveDown {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(5000px);
    }
}

.move-left {
    animation: moveLeft 500ms ease-in-out;
}

@keyframes moveLeft {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-5000px);
    }
}

.menu-left {
    animation: menuLeft 500ms;
}

@keyframes menuLeft {
    0% {
        transform: translateX(-500px);
    }

    100% {
        transform: translateX(0px);
    }
}

.menu-right {
    animation: menuRight 500ms;
}

@keyframes menuRight {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-500px);
    }
}

.spinner-loader {
    width: 40px;
    height: 40px;
    background-color: #333;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@keyframes menu-fade-in {
    0% {
        transform: translate(0, 10px);
        opacity: 0;
    }
    100% {
        transform: translate(0, 0);
        opacity: 1;
    }
}

