/*
|------------------------------------------------------------
| All homepage styles
|------------------------------------------------------------
*/

.why-us-container {
    max-width: 800px;

    h2 {
        position: relative;

        &:after {
            content: '';
            width: 100%;
            height: 1px;
            background-color: rgba(0, 0, 0, .4);
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    .red-bg {
        background-color: #ff7f7f;
    }

    .green-bg {
        background-color: #7fff7f;
    }

    .blue-bg {
        background-color: #7f7fff;
    }

    .orange-bg {
        background-color: #ffbf7f;
    }

    .orange-bg,
    .blue-bg,
    .green-bg,
    .red-bg {
        border-radius: 10px;
        padding: 10px 20px;
        color: white;
        transition: all .4s;
    }

    .orange-bg:hover {
        background-color: darken($why-us-orange, 30%);
        color: lighten($why-us-orange, 20%);
    }

    .blue-bg:hover {
        background-color: darken($why-us-blue, 30%);
        color: lighten($why-us-blue, 20%);
    }

    .green-bg:hover {
        background-color: darken($why-us-green, 30%);
        color: lighten($why-us-green, 20%);
    }

    .red-bg:hover {
        background-color: darken($why-us-red, 30%);
        color: lighten($why-us-red, 20%);
    }

    .why-us-row {
        max-height: 230px;
        height: 100%;

        &:first-of-type {
            margin-bottom: 20px;
        }

        .two-cols {
            height: 100%;
        }

        .flex {
            .two-cols {
                position: relative;
                height: 100%;

                p {
                    font-size: 1.3rem;
                }

                svg {
                    font-size: 9rem;
                    margin-top: 50px;
                }

                &:first-of-type {
                    text-align: center;
                }
            }
        }
    }
}