/*
|------------------------------------------------------------
| All homepage styles
|------------------------------------------------------------
*/

.main-content-container {
    display: flex;
    margin: 0 auto;
    border-radius: 3px;
    flex-direction: column;
    

    main {
        flex: 0 1 100%;
        order: 2;
        
        .news-container {
            flex: 0 1 50%;
            min-width: 400px;
        }  
        .changelog-container {
            flex: 0 1 50%;
            min-width: 400px;
        }
    } 
    }

.posts-container {
    background-image: url('assets/images/slider_2.jpg');
    
    display: flex;
    flex-wrap: wrap;
}
