/*
|------------------------------------------------------------
| Register account styles.
|------------------------------------------------------------
*/

.form-wrapper {
    max-width: 600px;
    margin: 20px 0;

}

.registration-notice.error {
    color: red;
    font-weight: bold;
}

.registration-notice.success {

    color: green;
    font-weight: bold;
}

.registration-notice.login.error {
    color: red;
    font-weight: bold;
}

.registration-notice.login.success {

    color: green;
    font-weight: bold;
}
