/*
|------------------------------------------------------------
| Single blog post styles
|------------------------------------------------------------
*/

.rules .single-post-container,
.changelog .single-post-container,
.profile .single-post-container {
    align-self: center;
    max-height: 600px;
    height: 100%;
    overflow: scroll;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 20px;
}

.profile .single-post-container {
    align-self: center;
    max-height: 600px;
    height: auto;
    overflow: scroll;
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    padding: 20px;
}