/*
|------------------------------------------------------------
| All variables for the website.
|------------------------------------------------------------
*/

$firstcolor: #854432;

$white: #FFF;
$black: #000;
$green: #7CFC00;
$blue: #00B2EE;
$red: #FF3333;

$why-us-red: #ff7f7f;
$why-us-blue: #7f7fff;
$why-us-green: #7fff7f;
$why-us-orange: #ffbf7f;
